@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gugi|Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');

.App-header {

  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #c9a4d3 no-repeat 50%;
  font-size: 40px;
  background-size: cover;
  text-align: center;
  font-family: 'Black Han Sans', sans-serif;
  

}

.App {
  background-color: #fff4fb;
}
.chatList {
  padding-top: 10px;
}
.chat-container{
  margin-left: 30px;
  display: flex;
  max-width: 600px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #9eb2f0;
  

}
.content{
  margin: 0;
  white-space: pre-line;
  color: white;
  display: inline-block;
  margin-left: 10px;
  font-family: 'Poor Story', cursive;
  font-size: 25px;
}
.username{
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 0;
  font-family: 'Gugi', cursive;
}
.chatbox{
  background-color: 	#fff4fb;
  margin: 50px;
}
.chat_form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
  padding-bottom: 20px;
}
.login_form{
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}
.login{
  padding: 5px;
  float: right;
}
.login_input {
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 3px solid pink;
  flex-grow: 1;
}
.input {
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
  flex-grow: 1;
  border: 3px solid pink;
}
.button {
  padding: 5px 10px;
  font-size: 25px;
  background-color: #e38da7;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 8px;
}
.date {
  margin-left:auto; 
  margin-right:0;
  padding: 5px;
  font-family: 'Poor Story', cursive;
}
.icon {
  width: auto; 
  height: auto;
  max-width: 60px;
  max-height: 60px;
  margin-top :20px;
  margin-right: 10px;
}
.logout {
  padding: 5px;
  float: right;
}
.logout-button{
  font-size: 25px;
  background-color: #e38da7;
  color: white;
  border: none;
  border-radius: 8px;
}
.chat-container.mine{
  
  max-width: 600px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #fbc6c0	;
  margin-left: 550px;
}

.mine .username, .mine .content {
  color: wh;
}